$off-black: #303030;
$fiftieth-shade-of-grey: #505050;
$black: #000000;
$tin: #909090;
$grey-of-darkness: #a2a2a2;
$navBg: #f8f8f8;
$white: #ffffff;
$white-smoke: #ddd;
$snowflake: #f0f0f0;
$unique-grey: #c9c9c9;
$tort: #5b8a8f;
$india-trade: #e1a661;
$silver-snippet: #8f8f8f;
$sour-cherry: #e24b33;
$ancestral-water: #d0d0d0;
$white-smoke: #f5f5f5;
$stem-green: #a7e492;
$pinball: #d3d3d3;
$spanish-grey: #979797;
$latteo: #e8e7e7;
$dr-white: #fafafa;
